/*:root {
     
    #84d2ee
    #ff7867
    #fed9a1
    #3c55a5
    falta blanco ,gris, negro
    colores dark  y colores ligth
    
}*/

body {
    font-family: 'Montserrat', sans-serif;
}

.hero {
    width: 100%;
}

.min-vh-100-calc {
    min-height: calc(100vh - 56px);
}

.textarea {
    resize: none;
}

.text-primary-personalized {
    color: #ff7867;
}